body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body > header,
main{
    width: 1200px;
    display: inline-block;
}
header > img{
    float:left;
    height: 44px;
    margin-top: 5px;
}

header > nav{
float: left;

}

nav > a{
    display: inline-block;
    font-size: 13px;
    line-height: 44px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(43,40,61);
    padding-bottom: 5px;

}
nav > a:hover{
    border-bottom: 1px solid rgb(43,40,61);
}
nav > a:first-child{
   font-style: normal;
   font-weight: bold;
}

header > input{
    width: 20%;
    float: left;
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 20px;
}
header > div{
    float:right;

}
div > a{
    display: inline-block;
    font-size: 14px;
    line-height: 44px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(43,40,61);
    padding-bottom: 5px;
}
div > a > img{
    margin-top: 10px;
}

div > a:hover{
    border-bottom: 1px solid rgb(43,40,61);
}

main > img{
 width: 50%;
 margin-top: 30px;
}
main > div{
 width: 40%;
 float: right;
 margin-left: 10px;
 margin-top: 100px;
}

h1{
    margin-bottom: 10px;
    font-weight: normal;
}
h2{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;

}
p{
    margin-bottom: 10px;
    font-weight: normal;
    color: grey;
    margin-top: 5px;

}

span{
    margin-bottom: 30px;
}

  div > div > a{
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: black;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 10px;
    
}


    